#body {
  background: #5060EB;
  text-align: -webkit-center;
}
/* ********************Header Start************************************ */
#header {
  height: 100vh;
  position: relative;
}
#header-subtitle {
  color: white;
  font-size: 64px;
  font-weight: bold;
}
/* ********************Header End************************************ */


/* ********************Table Start************************************ */
.tableHeader {
  min-width: 50%;
  max-width: 75%;
  text-align: left;
  padding: 15px;
}
#tableHeader-text {
  color: white;
  font-size: large;
}
#tableHeader-title {
  color: white;
  font-size: xx-large;
  font-weight: bold;
}
#table {
  min-width: 50%;
  max-width: 75%;
}
/* ********************Table End************************************ */



/* ********************Footer Start************************************ */
.footer {
  min-width: 50%;
  max-width: 75%;
  text-align: right;
  padding: 16px;
}

#Footer-credits{
  color:white;
}
/* ********************Footer end************************************ */

table {
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  overflow: hidden;
  padding: 16px;
  border-radius: 16px;
  text-align: left;
  
}

table td {
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  padding: 16px 0px 16px 0px;
  text-align: left;

}
table th{
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  padding: 0px 0px 16px 0px;
}

::placeholder {
  /* color: black; */
  margin: 8px;
  font-size: 1.25em;
}

/* ******************************Media Queries****************************************** */
@media only screen and (max-width: 900px) {
  
  
}

@media only screen and (min-width: 900px) {
  
}

.input {
  min-width: 67%;
  max-width: 75%;
  text-align: left;
  height: 48px;
  border-radius: 12px 0 0 12px;
  border: none;
  padding-left: 16px;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  #header-title {
    color: white;
    font-size: 24px;
  }
  #header-text {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
  }

  th:nth-child(4){
      display:none;
  }
  td:nth-child(4){
    display:none;
  }
  table{
    width: 84%
  }
  .submit {
    min-width: 70%;
    height: 50px;
    border-radius: 12px 12px 12px 12px;
    border: none;
    background-color: #2C3690;
    color: white;
    font-weight: bold;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  input {
    font-size: 12px;
    padding-left: 12px;
    padding-right: 12px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  #header-title {
    color: white;
    font-size: 36px;
  }
  #header-text {
      text-align: center;
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translateX(-50%);
  }

  table{
    width: 76%
  }
  .submit {
    min-width:25%;
    height: 50px;
    border-radius: 12px 12px 12px 12px;
    border: none;
    background-color: #2C3690;
    color: white;
    font-weight: bold;
    margin-top: 16px;
  
  }
  input {
    font-size: 16px;
    padding-left: 16px;
    padding-right: 16px;
  }
}




